<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--3 juntas ombro + 2 juntas cotovelo + 2 mao + 1 garra __ 7DOF-->
    <joint name="left_arm_joint" type="fixed">
        <parent link="body_link"/>
        <child link="left_arm_link"/>
        <origin xyz="0.2 0 1.12" rpy="0 0 0"/>
    </joint>

    <link name="left_arm_link">
        <visual>
            <origin xyz="0 0 0.55" rpy="0 0 ${pi/2}"/>
            <geometry>
                <box size="0.2 0.05 1.1"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0.55" rpy="0 0 ${pi/2}"/>
            <geometry>
                <box size="0.2 0.05 1.1"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.1" x="0.2" y="0.05" z="1.1">
            <origin xyz="0 0 0.55" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="body_link">
        <material>Gazebo/White</material>
    </gazebo>
           
</robot>