<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ros2_control_gazebo" params="">
        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>

            <!--CAMERA-->
            <joint name="camera_joint_y">
                <command_interface name="position">
                    <param name="min">-0.548</param>
                    <param name="max">0.548</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="camera_joint_z">
                <command_interface name="position">
                    <param name="min">-0.548</param>
                    <param name="max">0.548</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!--BODY-->
            <joint name="upper_body_joint">
                <command_interface name="position">
                    <param name="min">0.1745</param>
                    <param name="max">1.2217</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="lower_body_joint">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">0.14</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>
    </xacro:macro>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find charmie_bot)/config/controller_config.yaml</parameters>
        </plugin>
    </gazebo>

</robot>

<!-- <?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="lidar_real" type="sensor">
        <hardware>
            <plugin>ros2_control_demo_hardware/ForceTorqueSensor1DHardware</plugin>
            <param name="example_param_read_for_sec">0.43</param>
        </hardware>
        <sensor name="lidar_frame">
            <state_interface name="force"/>
            <param name="frame_id">lidar_frame</param>
            <param name="min_force">-100</param>
            <param name="max_force">100</param>
        </sensor>
    </ros2_control>

</robot> -->