<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

        <ros2_control name="Arm" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="xarm_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint1']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint2']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint3']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint4']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint5']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint6']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_gripper_drive_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_gripper_drive_joint']}</param>
                </state_interface>
            </joint>

        </ros2_control>
</robot>
