<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="omni_steering" params="">
        <gazebo>
            <plugin name="omni_steering" filename="libgazebo_ros_planar_move.so">
                <commandTopic>cmd_vel</commandTopic>
                <odometry_rate>100.0</odometry_rate>                
                <odometry_frame>odom</odometry_frame>
                <robot_base_frame>base_link</robot_base_frame>

                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>
            </plugin>
        </gazebo>
    </xacro:macro>

    <!-- <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>robot</robotNamespace>
        </plugin>
    </gazebo> -->

</robot> 