<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <gazebo reference="base_camera_link">
        <material>Gazebo/Black</material>
        <sensor type="depth" name="camera_sensor_orbbec">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>

            <!-- Point Cloud Configuration for Depth Camera -->
            <depth_camera>
                <horizontal_fov>1.5708</horizontal_fov> <!-- 90 degrees -->
                <image_width>640</image_width>
                <image_height>480</image_height>
                <near>0.4</near>
                <far>6.0</far>
            </depth_camera>

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>base_camera_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>