<?xml version="1.0"?>
<robot name="charmie" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="mobile_base.xacro"/>
    <xacro:include filename="mobile_base_gazebo.xacro"/>
    <xacro:include filename="lidar.xacro"/>
    <xacro:include filename="lidar_bottom.xacro"/>
    <xacro:include filename="lidar_gazebo.xacro"/>
    <xacro:include filename="lidar_bottom_gazebo.xacro"/>

</robot>