<?xml version="1.0"?>
<robot name="charmie" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="mobile_base.xacro"/>


    <!-- LIDAR -->

    <!-- <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_lidar"/>
        <origin xyz="0.265 0.0 0.35"/>
    </joint>

    <link name="base_lidar">
        <visual>
            <geometry>
                <cylinder radius="0.019" length="0.024" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="black"/>
        </visual>

    </link> -->

</robot>