<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <material name ="orange">
        <color rgba="1 0.3 0.1 1" />
    </material>
    
    <material name ="black">
        <color rgba="0 0 0 1" />
    </material>
    
    <material name ="light_grey">
        <color rgba="0.8 0.8 0.8 1" />
    </material>
    
    <material name ="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <material name ="dark_grey">
        <color rgba="0.25 0.25 0.25 1" />
    </material>

</robot>