<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <xacro:property name="neck_tilt_to_head_camera_length" value="0.095" />
    <xacro:property name="neck_tilt_to_head_camera_width" value="0.0115" />
    <xacro:property name="neck_tilt_to_head_camera_height" value="0.195" />

    <joint name="head_camera_joint" type="fixed">
        <parent link="neck_tilt_link"/>
        <child link="head_camera_link"/>
        <origin xyz="${neck_tilt_to_head_camera_length} ${neck_tilt_to_head_camera_width} ${neck_tilt_to_head_camera_height}" rpy="0 0 0"/>
    </joint>

    <link name="head_camera_link">
        <!-- <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.1 0.1" />
            </geometry>
            <material name="grey"/>
        </visual> -->
    </link>

    <joint name="head_camera_optical_joint" type="fixed">
        <parent link="head_camera_link"/>
        <child link="head_camera_optical_link"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="head_camera_optical_link">
    </link>
    
</robot>