<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Bottom Hokuyo Lidar -->
    <gazebo reference="lidar_bottom_frame">
        <material>Gazebo/Black</material>
        <sensor type="ray" name="bottom_hokuyo_sensor">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>681</samples>
                        <min_angle>-2.092387973753402</min_angle>
                        <max_angle>2.092387973753402</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.2</min>
                    <max>5.6</max>
                </range>
            </ray>
            <plugin name="laser_controller_bottom" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan_bottom</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_bottom_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>