<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="charmie_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="xarm_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint1']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint2']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint3']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint4']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint5']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_joint6']}</param>
                </state_interface>
            </joint>
            <joint name="xarm_gripper_drive_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['xarm_gripper_drive_joint']}</param>
                </state_interface>
            </joint>

            <joint name="neck_pan_joint">
                <command_interface name="position">
                    <param name="min">${-pi}</param>
                    <param name="max">${pi}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="neck_tilt_joint">
                <command_interface name="position">
                    <param name="min">${-pi/3}</param>
                    <param name="max">${pi/3}</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="legs_joint">
                <command_interface name="position">
                    <param name="min">0.0</param>
                    <param name="max">0.14</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="torso_joint">
                <command_interface name="position">
                    <param name="min">0.0</param>
                    <param name="max">1.22173</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
